@{
    ViewData["Title"] = "All Blogs";
}

<h1 class="mb-4">All Blogs</h1>

<div class="blog-list-container">
    <p>Loading...</p>
</div>

@section Scripts
{
    <script src="~/js/blogs.js" asp-append-version="true"></script>
}